footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.keyboard {
  flex: 3 1 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 5px;
}

.key-block {
  width: 80px;
  height: 80px;
  background-color: #d3d6da;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
}
