footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.keyboard {
  flex: 3 1 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 5px;
}

.key-block {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  color: #017355;
  background-color: #FCFCFC;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
}

.key-block.active {
  box-shadow: 0 0 30px rgba(256, 256, 256, 0.8);
  background-color: #efefef;
}
