.submit {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 50%;
    height: 50%;
    background-color: rgb(12, 148, 12);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: rgb(9, 107, 9);
    }
}