.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #d3d6da;
  height: 80px;
}

.header-greedy {
  position: absolute;
  margin-left: 40px;
  left: 0;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.header-title {
  font-size: x-large;
  color: white;
}

.header-developer {
  position: absolute;
  margin-right: 10px;
  right: 0;
  font-size: large;
  font-weight: bold;
  color: white;
}