#root {
  height: 100%;
  background-color: #007355;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ChalkFont";
  src: url("./asset/fonts/Typo_Crayon_M.ttf") format("truetype");
  font-style: normal;
}

* {
  font-family: "ChalkFont";
}